In [79]:
import pandas as pd

import sqlalchemy

from sqlalchemy.engine import create_engine

In [80]:

#!pip install mysqlclient

In [86]:



eng = create_engine("mysql://username:pass@192.168.168.3/minecraft")

wad = {}
with eng.connect() as conn:
    df = pd.read_sql("SHOW TABLES;",conn)
    print(df)
    for tab in df.values:
        print("loading ",tab[0])
        df = pd.read_sql("SELECT * FROM `%s`;"%tab[0],conn)
        
        wad[tab[0]] = df

       Tables_in_minecraft
0               lb-players
1                 lb-world
2           lb-world-chest
3           lb-world-kills
4            lb-world-sign
5          lb-world_nether
6    lb-world_nether-chest
7     lb-world_nether-sign
8         lb-world_the_end
9   lb-world_the_end-chest
10   lb-world_the_end-sign
loading  lb-players
loading  lb-world
loading  lb-world-chest
loading  lb-world-kills
loading  lb-world-sign
loading  lb-world_nether
loading  lb-world_nether-chest
loading  lb-world_nether-sign
loading  lb-world_the_end
loading  lb-world_the_end-chest
loading  lb-world_the_end-sign

In [87]:
wad["lb-players"]

,playerid,UUID,playername,firstlogin,lastlogin,onlinetime,ip
0,1,log_dummy_record,dummy_record,None,None,0,

In [88]:
lbw = wad["lb-world"]

lbw[lbw["playerid"] == 2]

Empty DataFrame
Columns: [id, date, playerid, replaced, type, data, x, y, z]
Index: []

In [89]:
wad["lb-world-kills"]

Empty DataFrame
Columns: [id, date, killer, victim, weapon, x, y, z]
Index: []