In [39]:
import pandas as pd

import sqlalchemy

from sqlalchemy.engine import create_engine

In [40]:

#!pip install mysqlclient

In [41]:


# create sql connection engine to the local logserver
eng = create_engine("mysql://username:pass@192.168.168.3/minecraft")


# dumping every tables into pandas frames
wad = {}
with eng.connect() as conn:
    alltables = pd.read_sql("SHOW TABLES;",conn)
    
    for tab in alltables.values:
        print("loading ",tab[0])
        df = pd.read_sql("SELECT * FROM `%s`;"%tab[0],conn)
        
        wad[tab[0]] = df
        
alltables

loading  lb-players
loading  lb-world
loading  lb-world-chest
loading  lb-world-kills
loading  lb-world-sign
loading  lb-world_nether
loading  lb-world_nether-chest
loading  lb-world_nether-sign
loading  lb-world_the_end
loading  lb-world_the_end-chest
loading  lb-world_the_end-sign

       Tables_in_minecraft
0               lb-players
1                 lb-world
2           lb-world-chest
3           lb-world-kills
4            lb-world-sign
5          lb-world_nether
6    lb-world_nether-chest
7     lb-world_nether-sign
8         lb-world_the_end
9   lb-world_the_end-chest
10   lb-world_the_end-sign

In [42]:
# load players info
playsCols = ["playerid", "playername","firstlogin","lastlogin","onlinetime","ip"]
pdf = wad["lb-players"][playsCols]
pdf

,playerid,playername,firstlogin,lastlogin,onlinetime,ip
0,1,dummy_record,NaT,NaT,0,
1,2,testbot,2020-02-09 20:45:04,2020-02-09 20:45:04,0,/172.24.0.1:50902
2,3,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,4,LavaFlow,NaT,NaT,0,
4,5,Enderman,NaT,NaT,0,

In [43]:
# join "world" event with players
lbw = wad["lb-world"]
lbw = lbw.set_index("playerid").join(pdf.set_index("playerid"))

In [44]:
# "fanf" player actions
lbw[lbw["playername"]=="fanf"]

,id,date,replaced,type,data,x,y,z,playername,firstlogin,lastlogin,onlinetime,ip
playerid,,,,,,,,,,,,,
3,31,2020-02-09 20:46:35,31,0,1,-58,67,239,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,32,2020-02-09 20:46:46,31,0,1,-66,66,246,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,34,2020-02-09 20:50:44,175,0,1,-80,67,236,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,35,2020-02-09 20:50:44,175,0,10,-80,68,236,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,36,2020-02-09 20:50:44,175,0,10,-80,68,235,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,37,2020-02-09 20:50:44,175,0,1,-80,67,235,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,38,2020-02-09 20:50:47,175,0,1,-81,67,231,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,39,2020-02-09 20:50:47,175,0,10,-81,68,231,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,40,2020-02-09 20:50:49,175,0,1,-84,66,235,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,41,2020-02-09 20:50:49,175,0,10,-84,67,235,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,42,2020-02-09 20:50:49,175,0,1,-84,66,236,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,43,2020-02-09 20:50:49,175,0,10,-84,67,236,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,44,2020-02-09 20:50:49,175,0,10,-83,67,238,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,45,2020-02-09 20:50:49,175,0,1,-83,66,238,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,46,2020-02-09 20:50:50,2,0,0,-82,66,237,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,47,2020-02-09 20:50:51,2,0,0,-81,66,237,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,48,2020-02-09 20:50:53,2,0,0,-80,66,237,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,49,2020-02-09 20:50:54,2,0,0,-82,66,238,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,50,2020-02-09 20:50:56,2,0,0,-81,66,238,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,51,2020-02-09 20:51:03,0,175,1,-77,67,247,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,52,2020-02-09 20:51:05,0,175,1,-77,64,255,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,53,2020-02-09 20:51:07,0,175,1,-81,64,258,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,54,2020-02-09 20:51:08,0,175,1,-76,64,260,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,55,2020-02-09 20:51:09,0,175,1,-73,64,263,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,56,2020-02-09 20:51:11,0,3,0,-68,64,252,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,57,2020-02-09 20:51:12,0,3,0,-69,64,252,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,58,2020-02-09 20:51:12,0,3,0,-71,64,252,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,59,2020-02-09 20:51:14,0,3,0,-70,64,252,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095
3,60,2020-02-09 20:51:16,0,3,0,-67,64,251,fanf,2020-02-09 20:45:58,2020-02-09 20:50:36,123,/192.168.168.1:51095